body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

/* IDEA: Nav */

.bg-coral {
  background-color: #F08080;
}

.tamaño-nav {
  width: 100vw;
  height: 62px;
  padding: 0rem 2.8rem;
  top: -0.5rem;
}

.font-oswald-bold-nav {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.font-sans-regular-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

.navbar-toggler{
    border-color: #777777 !important;
    border-width: 1px;
}

  /* IDEA: Header */

.img-nati {
  background-image: url("../img/foto-portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 90%;
  margin-top: -0.5rem;
  height: 450px;
  width: 100vw;
  padding-top: 320px;
}


.font-oswald-extralight-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
}

.font-oswald-bold-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFFFFF;
}

.border-top1 {
  border-top: 1px;
  border-color: #FFFFFF;
  border-style: solid;
}

/* IDEA: Section 1: Descripción */

.section-informacion {
  margin: 0rem 4.5rem;
}

.font-sans-semibold-sec1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.48pt;
  padding: 1rem 0rem;
  padding-top: 2rem;
  color: #373A3C;
}

.border-bottom1 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

.font-sans-regular-texto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.9;
  letter-spacing: 0.48pt;
  padding: 1rem 0rem;
  color: #373A3C;
}

/* IDEA: Section 2 / Mi experiencia */

.experiencia1 {
  padding: 1rem 4rem;
  background-color: #000000;
  padding-bottom: 2rem;
}

.font-oswald-bold-exp {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding-bottom: 0.4rem;
  padding-top: 1.2rem;
}

.border-bottom2 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  display: inline-block;
  width: 85px;
}

.experiencia2 {
  display: inline-block;
}

.img-color {
  color: #F08080;
}

.experiencia2 h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  letter-spacing: 0.48pt;
}

.experiencia2 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #FFFFFF;
}

/* IDEA: Sección modales de section 2 */

.modal-margenes {
  padding: 1rem 2.5rem;
}

.font-modal-titulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}

.font-sans-semibold-modales {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.9;
  letter-spacing: 0.48pt;
  padding: 1rem 0rem;
  padding-top: 1.5rem;
  color: #373A3C;
}

.font-sans-regular-modales {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1;
  letter-spacing: 0.48pt;
  padding: 1rem 0rem;
  color: #373A3C;
}

/* IDEA: Sección 3 / Mis trabajos */

.mis-trabajos {
  background-color: #F08080;
  text-align: center;
}

.font-oswald-bold-trab {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #000000;
  padding: 0rem 1.5rem;
  padding-bottom: 0.4rem;
  padding-top: 3rem;
}

.border-bottom3 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

.card1 {
  width: 250px;
  border: none;
}

.font-oswald-regular-trab {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #373A3C;
  margin-top: -0.5rem;
}

.border-top2{
  border-top: 1px;
  border-style: solid;
  border-color: ##373A3C;
  padding-top: 0.4rem;
}

.font-sans-light-trab {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #373A3C;
}

.boton-web {
  background-color: #F08080;
}

/* IDEA: Section 4 / mis trabajos anteriores / carrusel */

.medidas-slider {
  text-align: center;
  padding: 0rem 3.5rem;
  padding-bottom: 4rem;
}

.font-oswald-bold-carrusel {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  padding: 0rem 1.5rem;
  padding-bottom: 0.4rem;
  padding-top: 3rem;
}

.border-bottom4 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

#carrusel-portafolio {
  padding-bottom: 0.5rem;
}

.carousel-indicators {
  vertical-align: bottom;
  bottom: -30px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F08080;
}

/* IDEA: Section 5 Formulario de contacto */

.contacto {
  margin-top: -0.5rem;
  background-color: #DDDDDD;
  padding-bottom: 2rem;
}

.font-oswald-bold-contact {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  padding: 0rem 1.5rem;
  padding-bottom: 0.3rem;
  padding-top: 3rem;
}

.border-bottom5 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
  padding-bottom: 1rem;
}


/* IDEA: Footer */

 .medidas-footer {
   background-color: #F08080;
   padding: 2.5rem 3rem;
 }

 .font-oswald-bold-footer {
   font-family: 'Oswald', sans-serif;
   font-weight: 700;
   font-size: 1.8rem;
   color: #000000;
   padding-bottom: 2rem;
   padding-top: 3rem;
 }

 .iconos a {
   color: #000000;
   padding: 0rem 0.3rem;
 }


--------------------------------------------------

/* IDEA: Media Query */

  /*Resolucion SM */
@media (min-width: 576px) {

/* Section 2 Mi experiencia */



/* Section 3 / Mis ultimos trabajos */

.mis-trabajos {
  background-color: #F08080;
  text-align: center;
  padding: 0rem 5rem;
}

.card1 {
  width: 350px;
  margin: 0rem 1.3rem;
  border: none;
}

}
  /*Resolucion MD */
@media (min-width: 768px) {

  /* Nav */
  .tamaño-nav {
    width: 100vw;
    height: 40px;
    padding: 0rem 5rem;
    top: 0rem;
  }

  .font-oswald-bold-nav {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
  }

  /* Header */

  .img-nati {
    background-image: url("../img/foto-portada.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 55% 60%;
    padding-top: 300px;
  }


  .font-oswald-extralight-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: #ffffff;
  }

  .font-oswald-bold-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffffff;
  }

  .border-top1 {
    border-top: 1px;
    border-color: #ffffff;
    border-style: solid;
  }

  /* Sección 1 */

  /* Sección 2 / Descripción */

  .experiencia1 {
    padding: 1rem 4rem;
    background-color: #000000;
    padding-bottom: 2.5rem;
  }

  .font-oswald-bold-exp {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .experiencia2 {
    display: inline-block;
  }

  .img-color {
    color: #F08080;
  }

  .experiencia2 h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0.48pt;
  }

  .experiencia2 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: #FFFFFF;
  }

  /* Section 3 / Mis ultimos trabajos */

  .mis-trabajos {
    background-color: #F08080;
    text-align: center;
    padding: 1rem 2rem;
  }

  .font-oswald-bold-trab {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    padding: 0rem 1.5rem;
    padding-bottom: 0.4rem;
    padding-top: 2.5rem;
  }

  .card1 {
    width: 185px;
    border: none;
  }

  /* Sección 5 / Formulario */

  .contacto {
    margin-top: -0.5rem;
    background-color: #DDDDDD;
    text-align: center;
  }

  .font-oswald-bold-contact {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    padding: 0rem 1.5rem;
    padding-bottom: 0.3rem;
    padding-top: 3rem;
  }

  /* Footer */

   .medidas-footer {
     background-color: #F08080;
     padding: 2.5rem 8rem;
   }

   .font-oswald-bold-footer {
     font-family: 'Oswald', sans-serif;
     font-weight: 700;
     font-size: 2.5rem;
     color: #000000;
   }

   .iconos a {
     color: #000000;
     padding: 0rem 0.3rem;
   }

}


/* Resolución LG */
@media (min-width: 992px) {

  /* Nav */

  .bg-coral {
    background-color: #F08080;
  }

  .tamaño-nav {
    width: 100vw;
    height: 68px;
    padding: 0rem 4.5rem;
    top: -0.5rem;
  }

  .font-oswald-bold-nav {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 2.7rem;
  }

  .font-sans-regular-nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .navbar-toggler{
      border-color: #777777 !important;
      border-width: 1px;
  }

  /* Header */

  .img-nati {
    background-image: url("../img/foto-portada.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 55% 30%;
    height: 580px;
    padding-top: 400px;
  }


  .font-oswald-extralight-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #ffffff;
  }

  .font-oswald-bold-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #ffffff;
  }

  .border-top1 {
    border-top: 1px;
    border-color: #ffffff;
    border-style: solid;
  }

/* Section 1 / descripción */

.border-bottom1 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

/* Section 2 / Experiencia*/

.experiencia1 {
  padding: 1rem 7rem;
  background-color: #000000;
  padding-bottom: 2.5rem;
}

.font-oswald-bold-exp {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.border-bottom2 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  display: inline-block;
  width: 85px;
}

.experiencia2 {
  display: inline-block;
}

/* Section 3 / Trabajos */

.mis-trabajos {
  background-color: #F08080;
  text-align: center;
  padding: 1rem 7rem;
}

.font-oswald-bold-trab {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  padding: 0rem 1.5rem;
  padding-bottom: 0.4rem;
  padding-top: 2.5rem;
}

.border-bottom3 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

.card1 {
  width: 200px;
  border: none;
}

/* Section 4 / Carrusel*/

.medidas-slider {
  text-align: center;
  padding: 0rem 5.5rem;
  padding-bottom: 4rem;
}

.font-oswald-bold-carrusel {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  padding: 0rem 1.5rem;
  padding-bottom: 0.4rem;
  padding-top: 3rem;
}

.border-bottom4 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

/* Section 5 / Contacto */

.contacto {
  margin-top: -0.5rem;
  background-color: #DDDDDD;
  text-align: center;
}

.border-bottom5 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
}

}

/* Resolución XL */
@media (min-width: 1200px) {

  /* Nav */

  .bg-coral {
    background-color: #F08080;
  }

  .tamaño-nav {
    width: 100vw;
    height: 70px;
    padding: 0rem 4.5rem;
    top: -0.4rem;
  }

  .font-oswald-bold-nav {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 2.7rem;
  }

  .font-sans-regular-nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

  .navbar-toggler{
      border-color: #777777 !important;
      border-width: 1px;
  }

  /* Header */

  .img-nati {
    background-image: url("../img/foto-portada.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 55% 30%;
    height: 700px;
    padding-top: 520px;
  }

  /* Section 1 / descripción */

  .border-bottom1 {
    border-bottom: 1px;
    border-style: solid;
    border-color: #000000;
    display: inline-block;
    width: 85px;
  }

  /* Section 2 / Experiencia*/

  .experiencia1 {
  padding: 1rem 7rem;
  background-color: #000000;
  padding-bottom: 2.5rem;
  }

  .font-oswald-bold-exp {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #FFFFFF;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  }

  .border-bottom2 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  display: inline-block;
  width: 85px;
  }

  .experiencia2 {
  display: inline-block;
  }

  /* Section 3 / Trabajos */

  .mis-trabajos {
  background-color: #F08080;
  text-align: center;
  padding: 1rem 12rem;
  }

  .border-bottom3 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
  }

  .card1 {
  width: 250px;
  border: none;
  }

  /* Section 4 / Carrusel*/

  .medidas-slider {
  text-align: center;
  padding: 0rem 10.5rem;
  padding-bottom: 4rem;
  }

  .border-bottom4 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
  }

  /* Section 5 / Contacto */

  .contacto {
  margin-top: -0.5rem;
  background-color: #DDDDDD;
  text-align: center;
  }

  .border-bottom5 {
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  width: 85px;
  }


}
